.git
.gitignore
.github
node_modules
vendor
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
.idea
.vscode
.fleet
.phpunit.cache
.phpunit.result.cache
tests
